@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --MainBlue: #0476D0;
    --MainRed: #E32227;
    --MainYellow: #FFDF00;
    --DefaultFont: 'Lato', serif;
    --DefaultHeaderFont: 'Bebas Neue', sans-serif;
    --DefaultFontColor: black;
}

/* General Body Styling */
body {
    font-family: 'Lato', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;  /* Stacks elements vertically */
    align-items: center;
    justify-content: center; /* Centers the content vertically and horizontally */
    height: 100vh;
    position: relative;
}